In [1]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


prices = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Prices v2.xls', sheet_name='Rent')

new_header = prices.iloc[2]
prices = prices[3:]
prices.columns = new_header

prices.rename(columns={'Borough':'Borough'
                      ,'Sum of Count of rents':'SampleSize'
                      ,'Average Rent':'MeanRent'}
                      ,inplace=True)

prices.columns = prices.columns.astype(str)
prices['Borough'] = prices['Borough'].str.strip()
prices = prices.drop(['Sum of Total Rent'],axis=1)
# prices

In [2]:
pop = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Population.xlsx', sheet_name = 'Borough', header=1)

pop.rename(columns={'Area name': 'Borough'
                   ,'Population per square kilometre':'Pop/km2'
                   ,'GLA Population estimate/ projection':'Pop'}, inplace=True)
pop['Borough'] = pop['Borough'].str.strip()

pop = pop[['Borough','Pop/km2','Pop']]
pop = pop[1:34]
# pop

In [3]:
income = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Income.xls', sheet_name = 'All', header=4)
pd.set_option('display.max_rows', None)
income = income[221:255]

income.columns = income.columns.astype(str)

income.rename(columns={'Description': 'Borough'
                   ,'Mean': 'MeanSalary'
                   ,'10': '10thPcSalary'
                   ,'25': '25thPcSalary'
                   ,'75': '75thPcSalary'
                   ,'90': '90thPcSalary'
                   ,'Median': 'MedianSalary'}, inplace=True)
income = income[['Borough'
                 ,'MeanSalary'
                ]]
income['Borough'] = income['Borough'].str.strip()
# income

In [4]:
dwellings = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Dwellings.xlsx')
dwellings.columns = dwellings.columns.astype(str)

dwellings = dwellings[['Area name','2019']]
dwellings.rename(columns={'Area name': 'Borough'
                   ,'2019': 'Dwellings/ha'}, inplace=True)
# dwellings

In [5]:
gcses = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/GCSEs.xlsx',sheet_name='2018-19')
gcses

new_header = gcses.iloc[0]
gcses = gcses[1:]
gcses.columns = new_header

gcses.columns.values[1] = 'Borough'
gcses.columns.values[3] = 'GCSEscore'
gcses = gcses[2:35]
gcses = gcses[['Borough','GCSEscore']]
# gcses

In [6]:
crime = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Crimes.xlsx',sheet_name='Crime Rates')

new_header = crime.iloc[0]
crime = crime[1:]
crime.columns = new_header

crime = crime[1:35]

crime = crime[['Borough','2016-17']]

import numpy as np
crime = crime.iloc[:,np.r_[0,1]]

crime.rename(columns={'2016-17': 'Crimes/1000'}, inplace=True)
# crime

In [7]:
growth = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Houseprices.xls',sheet_name='Mean')
# growth
growth = growth[['Area','Year ending Dec 2012','Year ending Dec 2016','Year ending Dec 2017']]
growth.rename(columns={'Area':'Borough'
                     ,'Year ending Dec 2012': 'HousePrice2012'
                     ,'Year ending Dec 2016': 'HousePrice2016'
                     ,'Year ending Dec 2017': 'HousePrice2017'}, inplace=True)
growth = growth[1:34]

growth['5YearGrowth'] = growth.apply(lambda x: x['HousePrice2017']/x['HousePrice2012']-1,axis=1)
growth['1YearGrowth'] = growth.apply(lambda x: x['HousePrice2017']/x['HousePrice2016']-1,axis=1)

growth = growth.iloc[:,np.r_[0,3,4,5]]
# growth

In [8]:
tenure = pd.read_excel('/Users/smiths4/Documents/WhiteHat Training/Objectives work/London Rental Prices/Tenure.xlsx', sheet_name='2018')

tenure.loc[0,'Unnamed: 1'] = 'Borough'

new_header = tenure.iloc[0]
tenure = tenure[3:35]
tenure.columns = new_header

import numpy as np
tenure = tenure.iloc[:,np.r_[1,4,5]]

tenure.rename(columns={'Rented from Local Authority or Housing Association':'Social'
                      ,'Rented from Private landlord':'Private'}
                      ,inplace=True)


tenure['Private'] = tenure['Private'].replace('-','')
tenure['Private'] = tenure['Private'].astype(int)

tenure['Social'] = tenure['Social'].replace('-','')
tenure['Social'] = tenure['Social'].astype(int)

tenure['Total'] = tenure.apply(lambda x: x['Social']+x['Private']-1,axis=1)
tenure['SocialHousing'] = tenure.apply(lambda x: x['Social']/x['Total'],axis=1)

tenure = tenure[['Borough','SocialHousing']]
# tenure

In [9]:
df = pd.merge(prices
             ,income
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,pop
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,dwellings
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,gcses
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,crime
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,growth
             ,on='Borough'
             ,how='inner')

df = pd.merge(df
             ,tenure
             ,on='Borough'
             ,how='inner')

pd.set_option('display.max_columns', None)
df2 = df

df2[['SampleSize','MeanRent']] = df2[['SampleSize','MeanRent']].replace('-','')
df2[['SampleSize','MeanRent']] = df2[['SampleSize','MeanRent']].replace('..','')
df2['MeanRent'] = df2['MeanRent'].astype(int)
df2 = df2.replace('', np.nan)
df2.dropna(inplace=True)
df2

,Borough,SampleSize,MeanRent,MeanSalary,Pop/km2,Pop,Dwellings/ha,GCSEscore,Crimes/1000,HousePrice2017,5YearGrowth,1YearGrowth,SocialHousing
0,Barking and Dagenham,920,1204,26692,5892.712927,212773,20.060938,46.4,70.899932,3.015181e+05,0.661518,0.042679,0.594022
1,Barnet,1530,1503,38728,4577.022673,397049,17.630965,57.1,55.814423,6.675931e+05,0.482655,0.142743,0.355130
2,Bexley,890,1089,36261,4126.712502,249999,15.305227,49.6,45.607942,3.577789e+05,0.586846,0.050358,0.407708
3,Brent,1370,1498,33765,7791.775459,336859,27.860433,50.2,70.789693,5.787048e+05,0.464607,0.118277,0.444868
4,Bromley,2260,1309,43824,2216.226991,332733,9.303900,50.8,52.748792,5.026228e+05,0.509286,0.051201,0.410844
5,Camden,680,2218,55173,11594.546772,252637,48.463248,48.6,103.135498,1.099876e+06,0.408741,0.034449,0.555878
6,Croydon,2190,1137,34666,4523.463089,391296,18.618871,45.5,67.425400,3.996452e+05,0.521956,0.074159,0.476818
7,Ealing,1870,1570,37550,6315.390930,350784,24.359833,50.9,69.010128,5.781099e+05,0.453724,0.044144,0.304831
8,Enfield,610,1291,31967,4177.765256,337697,15.359280,46.5,58.543430,4.638059e+05,0.571687,0.030007,0.420502
9,Greenwich,1670,1478,41411,6048.988138,286322,22.680354,45.3,71.570527,4.628196e+05,0.576660,0.039036,0.568452
10,Hackney,1490,1830,36296,14790.258294,281740,58.563943,49.2,91.154040,6.149549e+05,0.620820,0.020092,0.609362
11,Hammersmith and Fulham,1320,2115,51500,11224.304165,184050,51.991363,53.9,98.127512,9.722312e+05,0.438905,0.034041,0.494238
12,Haringey,860,1631,36114,9604.847724,284288,36.957419,46.9,85.810430,6.839874e+05,0.643002,0.127522,0.453246
13,Harrow,430,1405,36461,5060.545261,255369,18.213239,50.9,45.462951,5.272064e+05,0.533854,0.044364,0.242339
14,Havering,810,1172,35435,2292.049538,257511,8.951725,48.5,58.073526,3.875353e+05,0.580742,0.080686,0.538727
15,Hillingdon,1000,1207,31900,2678.677220,309926,9.570692,47.7,63.460629,4.522716e+05,0.524116,0.028484,0.481407
16,Hounslow,1480,1351,34543,4970.960689,278264,17.997207,49.3,71.325040,5.078764e+05,0.415505,0.066366,0.501100
17,Islington,590,2031,51209,16037.727467,238267,69.827288,45.8,99.860434,7.782900e+05,0.486372,0.031512,0.554567
18,Kensington and Chelsea,1890,3034,93053,13139.296370,159301,70.838441,53.6,109.783954,2.092485e+06,0.384483,0.071205,0.571124
19,Kingston upon Thames,1370,1302,43733,4819.520457,179581,18.153480,56.9,49.623240,5.739383e+05,0.494700,0.048837,0.259425
20,Lambeth,1510,1820,39910,12485.026595,334724,51.930438,44.1,90.838950,6.161259e+05,0.545043,0.046802,0.608467
21,Lewisham,2300,1313,35571,8828.740628,310324,36.272931,43.7,68.420861,4.751422e+05,0.685447,0.092861,0.539483
22,Merton,1340,1640,44039,5566.045403,209421,22.477233,51.1,53.519258,6.385193e+05,0.504121,0.087081,0.324851
23,Newham,1650,1447,30068,9758.583186,353245,30.326092,48.8,77.148672,4.094773e+05,0.869980,0.105273,0.465021
24,Redbridge,1540,1305,36610,5422.109861,305910,18.547894,54.0,56.685235,4.524366e+05,0.490283,0.069262,0.230398
25,Richmond upon Thames,1420,1840,63093,3473.787985,199419,14.561338,54.1,49.937196,8.190437e+05,0.387132,0.056344,0.352712
26,Southwark,1750,1694,42599,11166.988826,322302,45.524023,49.5,87.889459,6.412095e+05,0.542126,-0.004113,0.600498
27,Sutton,1060,1150,35865,4729.584461,207378,19.055588,58.6,45.010385,4.021206e+05,0.477028,0.037504,0.333347
28,Tower Hamlets,1890,1829,50525,16035.517628,317203,56.321952,48.4,85.303129,5.540095e+05,0.558008,0.056247,0.467884
29,Waltham Forest,1680,1349,34820,7305.820200,283524,26.706375,46.2,64.888360,4.599218e+05,0.827472,0.064936,0.497449
30,Wandsworth,2070,1957,55426,9467.615880,324400,42.042674,49.4,65.831266,8.184434e+05,0.537184,0.055397,0.316955
31,Westminster,1560,3022,68658,11838.564563,254375,56.882278,53.4,171.290799,1.718124e+06,0.497602,0.087531,0.482344